aside {
    width: 5%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, .3);
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

aside p {
    padding: 10px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}